@import "../../sass/_variables.sass"

fieldset
  border: none

form

  .form-control
    width: 100%
    background: none
    border: solid 1px $pink
    color: $pink
    text-align: center
    padding: 10px
    box-shadow: none!important

  .ng-invalid.ng-dirty
    border: solid 1px $orange
    color: $orange

  input::placeholder
    color: $pink
    font-size: 11px

  input::-webkit-input-placeholder
    color: $pink
    font-size: 11px

  input:-moz-input-placeholder
    color: $pink
    font-size: 11px

  input::-moz-input-placeholder
    color: $pink
    font-size: 11px

  input:-ms-input-placeholder
    color: $pink
    font-size: 11px

.form-errors
  color: $orange
  font-family: $monospace
  font-size: 12px