
<form name="loginForm" ng-submit="$ctrl.submitForm(loginForm.$valid)" class="form-container">

  <fieldset>

    <fieldset class="form-group">
      <input class="form-control uppercase" type="text" name="input"  autocomplete="off" placeholder="Entrez un pseudo ici" ng-model="$ctrl.username" ng-minlength="3" ng-maxlength="10" ng-pattern="$ctrl.regex" required/>
    </fieldset>

    <div class="form-errors" ng-show="loginForm.input.$dirty && loginForm.input.$invalid">
      <p>3 à 10 caractères</p>
      <p>Le pseudo ne doit pas contenir d'espaces ni de caractères spéciaux</p>
    </div>

    <button class="btn-launcher" type="submit">
      Lancer
    </button>

  </fieldset>
  
</form>